
// ------------------------COLORS

$white: #fff;
$green:#71c55d;
$lighter-gray: #626262;
$light-gray:#505050;
$gray:#343b40;
$dark-gray: #3c4857;
$dark:#333;
$black: #000;

// ------------------------OPACITY COLORS

$gray-opacity: rgba(52, 59, 64, 0.9);


// ------------------------BREAKPOINTS
$bp-wide: 1680px;
$bp-desktop: 1024px;
$bp-tab: 760px;
$bp-phone: 550px;
